@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;



.sidebar-btn {
    @apply w-full text-left px-4 py-3 rounded-xl flex items-center gap-3 transition-all duration-200 hover:bg-slate-700;
}